@model HistoryView
@{
	System.Globalization.CultureInfo culture = new System.Globalization.CultureInfo("es-CL");
}
<style>
	html
	{
		font-family: Calibri;
		font-size: 17px !important;
	}

	body
	{
		margin: 20px 20px 40px 40px;
	}

	section
	{
		padding-bottom: 20px;
		vertical-align: bottom;
	}

	br{
		clear: both;
	}

	.ot
	{
		font-size: 22px;
		font-weight: bold;
	}

	.break
	{
		page-break-before: always;
	}

	table
	{
		table-layout: fixed;
		width: 100%;
		font-family: Calibri;
		font-size: 17px !important;
		border-collapse: collapse;
		bottom: 0;
		vertical-align: bottom !important;
		line-height: normal;
	}

	tbody > tr > *:nth-last-child(2) ~ *
	{
		width: 50%
	}

	tbody > tr > *:nth-last-child(3) ~ *
	{
		width: 33.3%
	}

	tbody > tr > *:nth-last-child(4) ~ *
	{
		width: 25%
	}

	tbody > tr > *:nth-last-child(5) ~ *
	{
		width: 20%
	}

	tbody > tr > *:nth-last-child(6) ~ *
	{
		width: 12%
	}

	tbody > tr > *:nth-last-child(7) ~ *
	{
		width: 5%
	}

	tbody > tr > *:nth-last-child(8) ~ *
	{
		width: 5%
	}


	td
	{
		text-align: center;
		padding: 4px;
	}

	td.width1
	{
		width: 30% !important;
		padding: 4px;
	}

	td.width2
	{
		width: 69% !important;
		padding: 4px;
	}

	td.width3
	{
		width: 42% !important;
	}

	td.width4
	{
		width: 54% !important;
	}

	.date
	{
		width: 15% !important;
	}

	.technician
	{
		width: 20% !important;
	}

	.observation
	{
		width: 45% !important;
	}


	.border
	{
		border: 1px solid black;
	}




	hr
	{
		height: 1px !important;
		margin: 6px 0;
		clear: both;
		border-top: 1px solid #000;
		box-shadow: none;
	}

	.left
	{
		align-content: flex-start;
		text-align: left;
	}



	.right
	{
		align-content: flex-end;
		text-align: right;
	}

	.float_left
	{
		float: left;
	}

	.float_right
	{
		float: right;
	}

	.clear
	{
		clear: both;
	}

	.center
	{
		align-content: center;
		margin: 0 auto;
		display: block;
	}

	.center_text
	{
		align-content: center;
		text-align: center;
	}

	.top
	{
		vertical-align: top !important;
	}

	.bottom
	{
		vertical-align: top !important;
	}

	.one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter
	{
		display: inline-block;
		vertical-align: bottom;
		height: auto;
	}

	.one_half
	{
		width: 47%;
		margin: 0 1%;
	}

	.one_third
	{
		width: 30%;
		margin: 0 1%;
	}

	.two_third
	{
		width: 60%;
		margin: 0 1%;
	}

	.one_quarter
	{
		width: 22%;
		margin: 0 1%;
	}

	.two_quarter
	{
		width: 40%;
	}

	.three_quarter
	{
		width: 66%;
	}
</style>
<body>
	<section>
		<div style="width:40%; display: inline-block; vertical-align: middle;">
			<img style="width:59%;" src="@string.Format("{0}/images/QRCLEANER.png", Model.BaseUrl)" />
		</div>
		<div style="width: 40%; display: inline-block; vertical-align: middle;">
			<span class="ot">HISTORIAL DEL EQUIPO</span>
		</div>
	</section>
	<section>
		<div class="one_half">
			<table style="width: 100%">
				<tr>
					<td class="left width1">Equipo</td>
					<td class="border width2">@Model.Equipment.Category.ToUpper()</td>
				</tr>
				<tr>
					<td class="left width1">Ubicación</td>
					<td class="border width2">@Model.Equipment.Location.ToUpper()</td>
				</tr>
				<tr>
					<td class="left width1">Descripción</td>
					<td class="border width2">@Model.Equipment.Descr.ToUpper()</td>
				</tr>
				<tr>
					<td class="left width1">Marca</td>
					<td class="border width2">@Model.Equipment.Brand.ToUpper()</td>
				</tr>
				<tr>
					<td class="left width1">Modelo</td>
					<td class="border width2">@Model.Equipment.Model.ToUpper()</td>
				</tr>
				<tr>
					<td class="left width1">Serie</td>
					<td class="border width2">@Model.Equipment.Serial.ToUpper()</td>
				</tr>
			</table>
		</div>
		<div class="one_half">
			<table class="float_right" style="width: 78%">
				<tr>
					<td class="left width3">N° de Activo Fijo</td>
					<td class="border width4">@Model.Equipment.Asset.ToUpper()</td>
				</tr>
				<tr>
					<td class="width3" style="padding: 5px;">&nbsp;</td>
					<td class="width4" style="padding: 5px;">&nbsp;</td>
				</tr>
				<tr>
					<td class="left width3">QR Code</td>
					<td class="border width4">@Model.Equipment.QR</td>
				</tr>
				<tr>
					<td class="left width3">Edificio</td>
					<td class="border width4">@Model.Equipment.Building.ToUpper()</td>
				</tr>
				<tr>
					<td class="left width3">Última Mantención</td>
					<td class="border width4">@Model.Equipment.LastMaintenance.Value.ToString("MMMM yyyy", culture).ToUpper()</td>
				</tr>
				<tr>
					<td class="left width3">Area</td>
					<td class="border width4">Mantención</td>
				</tr>
			</table>
		</div>
	</section>
	<br />
	<br />
	<section>
		@if (Model.Maintenances.Items.Count > 0)
		{
			<table style="width: 96%">
				<thead>
					<tr>
						<th class="left date">
							Fecha Mantención
						</th>
						<th class="left technician">
							Técnico
						</th>
						<th class ="left observation">
							Observaciones
						</th>
					</tr>
				</thead>
				<tbody>
					@{
						int index = 0;
						foreach (MaintenanceView item in Model.Maintenances.Items)
						{
							index++;
							<tr>
								<td class="border left date">
									@item.Finished
								</td>
								<td class="border left technician">
									@item.TechnicianName
								</td>
								<td class="border left observation">
									@item.Observation
								</td>
							</tr>
						}
					}
				</tbody>
			</table>
		}
</section>
</body>